<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-label/iron-label.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-icons/places-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/paper-styles/demo-pages.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/star-rating/star-rating.html">
<link rel="import" href="../bower_components/paper-search/paper-search-bar.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="coa-post.html">
<dom-module id="coa-app">
    <template>
        <style is="custom-style">
            :host {
            --app-primary-color: #094FA4; /*#4285f4;*/
            --app-secondary-color: black;
                display: block;
                height: 100vh;
            }
            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }
            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }
            .logo{
                color: #9BE1FB;
            }
            paper-button.green {
              background-color: #4285f4;
              color: white;
            }
            .chatbot {
              background: #ffffff;
              height: 90vh;
            }
        </style>
    	<div hidden$="{{logged}}" width="100%" style="text-align:center; margin-top:20%;">
            Bienvenid@ a Coaprendamos!, para poder hackear tu educación debes identificarte:<br /> <br />
            <paper-button class="green" raised on-click="signInWithGoogle">
                <iron-icon icon="perm-identity"></iron-icon>
                Ingresar con mi cuenta Google
            </paper-button>
        </div>
        <div hidden$="{{!logged}}" width="100%" style="text-align:center;">
            <app-header-layout>
                <app-header fixed>
                    <app-toolbar>
                        <paper-icon-button icon="arrow-back" id="mBack" on-tap="closechbot" style="display:none"></paper-icon-button>
                        <div><span style="font-size: 3.5vmin;" class="logo">coAPRENDAMOS.pe! &nbsp;&nbsp;&nbsp;#AprenderEsSexy</span></div>
                        <iron-icon icon="icons:events"></iron-icon>
                        <div main-title></div>
                        <paper-icon-button icon="help"        id="mHelp"   title="Acerca de"    on-tap="showAbout"></paper-icon-button>
                        <paper-icon-button icon="exit-to-app" id="mExit"   title="Salir"        on-tap="signOut"  ></paper-icon-button>
                        <paper-tooltip for="mHelp"   position="bottom" style="max-width:100px;">Ayuda</paper-tooltip>
                        <paper-tooltip for="mExit"   position="bottom" style="max-width:100px;">Salir</paper-tooltip>
                    </app-toolbar>
                </app-header>
                <coa-post id="post" style="display:none"></coa-post>
                <coa-about id="about" style="display:none"></coa-about>
                <coa-chbot id="chbot" class="chbot" style="display:none"></coa-chbot>
            </app-header-layout>
        </div>
    </template>
    <script src="https://www.gstatic.com/firebasejs/3.0.4/firebase.js"></script>
    <script>
        Polymer({
            is: 'coa-app',
            properties: {
                logged      : { type : Boolean, notify : true }, // Is Authenticated by Google?
                user        : { type : Object, notify : true },   // User Logged In
                userName    : { type : String, notify : true },
                userEmail   : { type : String, notify : true, observer : '_userEmailChanged' },
                userPicture : { type : String, notify : true }
            },
            _userEmailChanged:function(newVal, oldVal) {
                console.log('_userEmailChanged newVal:' + newVal + ' oldVal:' + oldVal);
            },
            ready:function() {
                this.addEventListener('showChatbot', this.showChatbot);
                firebase.initializeApp({
                    apiKey: "AIzaSyDHQtnQ83qy_ORmxto8A2P63KW9iW0tfZM",
                    authDomain: "coaprendamos.firebaseapp.com",
                    databaseURL: "https://coaprendamos.firebaseio.com",
                    storageBucket: "coaprendamos.appspot.com",
                });
                var parent = this;
                firebase.auth().onAuthStateChanged(function(account) {
                    console.log('onAuthStateChanged');
                    if (account) {
                        console.log('account');
                        parent.set('logged', true);
                        parent.set('user', account);
                        parent.set('userName', account.displayName.split(' ')[0])
                        parent.set('userEmail', account.email);
                        parent.$.post.userFirstName = account.displayName.split(' ')[0];
                        parent.$.post.userPicture = account.photoURL || '../images/avatar_login.png';
                        parent.$.chbot.userFirstName = account.displayName.split(' ')[0];
                        parent.$.chbot.userEmail = account.email.toString().replace(/[@.]/g,'_');
                        parent.showPost();
                    }
                });
            },
            signInWithGoogle:function() {
                console.log('signInWithGoogle');
                if (!firebase.auth().currentUser) {
                    console.log('!firebase.auth().currentUser');
                    var provider = new firebase.auth.GoogleAuthProvider();
                    var parent = this;
                    firebase.auth().signInWithPopup(provider).then(function(result) {
                        parent.set('logged', true);
                        parent.showPost();
                    }).catch(function(error) { //error.code //error.message //error.credential
                        if (error.code === 'auth/account-exists-with-different-credential') {
                            alert('You have already signed up with a different auth provider for that email.');
                        } else {
                            console.log('error : ' + error);
                        }
                    });
                } else {
                    //firebase.auth().signOut();
                }
            },
            showPost:function() {
                if (this.logged){
                    this.$.post.style.display = "block"; this.$.about.style.display = "none"; this.$.chbot.style.display = "none";
                }
            },
            showAbout:function() {
                if (this.logged){
                    this.$.post.style.display = "none"; this.$.about.style.display = "block"; this.$.chbot.style.display = "none";
                }
            },
            showChatbot:function(event) {
                if (this.logged){
                    this.$.post.style.display = "none"; this.$.about.style.display = "none"; this.$.chbot.style.display = "block";
                }
                this.$.chbot.initBot(event.detail);
            },
            closeChatbot:function() {
                if (this.logged){
                    this.$.post.style.display = "block"; this.$.about.style.display = "none"; this.$.chbot.style.display = "none";
                }
                this.$.chbot.closeBot();
            },
            signOut:function() {
                firebase.auth().signOut();
                this.set('logged', false);
            }
        });
    </script>
</dom-module>
