<dom-module id="coa-post">
	<template>
    <!-- buscador -->
		<div id = "lyt-buscador">
      <paper-search-bar id="btnBuscar" placeholder="Buscar retos..." disable-filter-button=true
      hide-filter-button=true on-paper-search-search="buscar"  >

      </paper-search-bar>
    </div>
    <!-- lista de retos -->
    <div id = "lyt-retos">
    <paper-fab icon="favorite" title="heart"></paper-fab>
    </div>
	</template>
	<script>
		Polymer({
            is: 'coa-post',
            ready:function() {

            },
            buscar:function(e){
              var b = this.$.btnBuscar.query;
              alert("listos para buscar: " + b);
            }
        });
	</script>
</dom-module>
