<dom-module id="coa-list">
<link rel="import" href="../css/coaprendamos-style.html">
<template id="tmpCoaList">
    <style include="about-estilo"></style>
    <style include="kudos"></style>
    <div class="card">
        <h1>hola</h1>
        <p>hola</p>
        <h1>hola</h1>
        <p>hola</p>
        <paper-button id="kudoejemplo" class="kudo" toggles raised>
         <iron-icon icon="hola"></iron-icon> hola
        </paper-button><span>hola</span>
        <h1>hola</h1>
        <br>
        <h1>¿Y los culpables? ¡Que pasen los... <b>Devnovators</b>!</h1>
    </div>
</template>
<script>
 Polymer({
    is: 'coa-list',
    properties: {
    },
    ready: function(){}
  });
</script>
</dom-module>
